# Archivos de Code::Blocks
*.layout
*.depend
*.cbp

# Archivos de compilación
*.o
*.exe
*.out

# Archivos temporales
*.log
*.tmp

# Directorios de binarios y compilación
/bin/
/obj/
/build/

# Archivos y carpetas que no deben subirse
.git/
Tetris/bin/
Tetris/config.dat
Tetris/estadisticas.dat
